body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

.topBar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.logo {
  width: 301px;
  height: 242px;
  margin-top: 10px;
}

.sorry {
  margin: 100px;
}